.dashboard td:nth-child(1), .dashboard th:nth-child(1),
.dashboard td:nth-child(6), .dashboard th:nth-child(6) {
   border-right:2px solid #ddd;
}
.high {
   background:yellow;
}
.warn {
   background:orange;
}
.critical {
   background:#f2dede;
}

span.critical {
   color:red;
}

#slider {
   margin: 5px;
   margin-left: 100px;
   margin-right: 20px;
}
#zoomWrap {
   margin-left: 95px;
}
#zoomRange {
   width: 20%;
   border:0;
   color:#f6931f;
   font-weight:bold;
}

