.dashboard td:nth-child(1), .dashboard th:nth-child(1),
.dashboard td:nth-child(7), .dashboard th:nth-child(7) {
   border-right:2px solid #ddd;
}
#header {
   background:rgb(49,49,49);
}
#header a {
   color:white;
}
#subheader {
   background:rgb(131,255,141);
   padding-left:0.5em;
}

span.critical {
   color:red;
}

#slider {
   margin: 5px;
   margin-left: 100px;
   margin-right: 35px;

}
#zoomWrap {
   margin-left: 100px;
}
#zoomRange {
   width: 20%;
   border:0;
   color:#f6931f;
   background:none;
   font-weight:bold;
   width: 270px;
}

#main {
   background:rgb(240, 240, 240);
   min-height:100vh;
}

#footer {
   height:10em;
   background:rgb(180,180,180);
   box-shadow:0px 5px 10px rgb(100,100,100) inset;
   padding:1em;
}
#footer .logo {
   height:100%;
   opacity:0.8;
}

/* new dashboard */

.new-dashboard {
   display:flex;
   flex-flow: row wrap;
   justify-content:space-around;
   align-items:stretch;
   min-height:98vh;
   background:#555;
}

.host-block {
   flex-flow:row wrap;
   flex-grow:1;

   background:#DDD;
   min-width:21em;
   border:1px solid rgb(110, 110, 110);
}
.legend table, .host-block table {
   width:100%;
}
.host-block tr {
   border-top:1px solid rgb(155, 155, 155);
}
.legend th, .host-block th {
   padding: 0 0.3em;
   font-weight:normal;
   text-align:center;
}
.legend td, .host-block td {
   padding:0 0.5em;
   text-align:right;
   font-weight:bold;
}
.legend th:nth-child(1), .host-block th:nth-child(1) { /* item header */
   background:rgb(211,211,211);
}
.legend td:nth-child(3), .host-block td:nth-child(3) { /* now */
   background:rgb(211,211,211);
}
.legend td:nth-child(4), .host-block td:nth-child(4) { /* next 6h */
   background:rgb(197,197,197);
}
.legend td:nth-child(5), .host-block td:nth-child(5) { /* next 6h */
   background:rgb(180,180,180);
}
.host-block h2 {
   font-size:1em;
   font-weight:bold;
   margin:0;
   padding:0.2em;
   letter-spacing:0.07em;
   background:rgb(194, 194, 194);
}
.host-block h2 a {
   color:rgb(0, 108, 231);
   text-shadow:0 0 3px rgb(213, 234, 255);
}
.legend {
   background:#DDD;
   border:1px solid rgb(255, 68, 0);
   border-left:none;
   border-right:none;
}

/* indicator colors */
.high { color:yellow; text-shadow: 0 0 4px black; }
.normal { color:rgb(0,126,0);; text-shadow: 0 0 3px white; }
.warn { color:orange;; text-shadow: 0 0 2px black; }
.critical { color:red;; text-shadow: 0 0 4px rgb(255,173,173); }

.error { background:rgb(255, 123, 123); }
.warning { background:orange; }

/* common */
.right { float:right; }
.tiny { font-size:80%; }
