{{ define "head" }}
   <title>Dashboard</title>
{{ end }}

{{ define "body" }}
<div id="header">
   <a href="/dashboard" class="btn">Dashboard</a>
</div>
<table class="table dashboard">
   <thead>
      <tr>
         <th>Host</th>
         {{template "metric_headers" "CPU Load" }}
         {{template "metric_headers" "Memory" }}
      </tr>
   </thead>
   <tbody>
      {{ range .Hosts }}
         {{ template "host_row" . }}
      {{ end }}
      {{ range .ErrorHosts }}
         {{ template "error_host_row" . }}
      {{ end }}
   </tbody>
</table>
{{ end }}

{{ define "metric_headers" }}
<th>{{ . }}</th>
<th>Thres.</th>
<th>Past 7d</th>
<th>Next 24h</th>
<th>Next 6d</th>
<th>Days in Data</th>
{{ end }}

{{ define "host_row" }}
<tr>
   <td class="{{ .Condition }}"><span><b>{{ .Name }}</b></span></td>
   <td class="{{ .Cpu.Condition }}"><span><a href="/item/{{.Name}}/cpu">CPU</a></span></td>
   <td class="{{ .Cpu.Condition }}"><span>{{ .Cpu.Threshold }}</span></td>
   <td class="{{ .Cpu.Condition }}"><span class={{ .Cpu.Color_past_7d }}>{{ printf "%.3f" .Cpu.Max_past_7d }}</span></td>
   <td class="{{ .Cpu.Condition }}"><span class={{ .Cpu.Color_next_24h }}>{{ printf "%.3f" .Cpu.Max_next_24h }}</span></td>
   <td class="{{ .Cpu.Condition }}"><span class={{ .Cpu.Color_next_7d }}>{{ printf "%.3f" .Cpu.Max_next_7d }}</span></td>
   <td class="{{ .Cpu.Condition }}"><span class={{ .Cpu.Color_next_7d }}>{{ printf "%.3f" .Cpu.DaysInForecastRange }}</span></td>   
   <td class="{{ .Mem.Condition }}"><span><a href="/item/{{.Name}}/mem">Mem</a></span></td>
   <td class="{{ .Mem.Condition }}"><span>{{ .Mem.Threshold }}</span></td>
   <td class="{{ .Mem.Condition }}"><span class={{ .Mem.Color_past_7d }}>{{ printf "%.3f" .Mem.Max_past_7d }}</span></td>
   <td class="{{ .Mem.Condition }}"><span class={{ .Mem.Color_next_24h }}>{{ printf "%.3f" .Mem.Max_next_24h }}</span></td>
   <td class="{{ .Mem.Condition }}"><span class={{ .Mem.Color_next_7d }}>{{ printf "%.3f" .Mem.Max_next_7d }}</span></td>
   <td class="{{ .Mem.Condition }}"><span class={{ .Mem.Color_next_7d }}>{{ printf "%.3f" .Mem.DaysInForecastRange }}</span></td>   
</tr>
{{ end }}

{{ define "error_host_row" }}
<tr>
   <td><span><b>{{ .Name }}</b></span></td>
   <td><span>{{ .Err }}</span></td>
</tr>
{{ end }}
