<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Dashboard - MOCKUP</title>
   <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

   <i>Dashboard mockup</i>

   <section>
      <h1>Current issues or predicted issues</h1>

      <!-- Host names come here -->
      <div class="hosts">
         betonimylly</br>
         tuulimylly</br>
         kahvimylly</br>
      </div>


      <!-- Example of a load table -->
      <h2>CPU Load</h2>
      <table class="overview">
         <thead>
            <tr>
               <th>Thres.</th>
               <th>Past 24h</th>
               <th>Next 24h</th>
               <th>Next 6d</th>
               <th>Data</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td><span>70</span></td>
               <td><span class=high>65</span></td>
               <td><span class=high>68</span></td>
               <td><span class=warn>72</span></td>
               <td><span class=critical>87</span></td>
            </tr>
            <tr>
               <td>70</td>
               <td>65</td>
               <td>68</td>
               <td>72</td>
               <td>68</td>
            </tr>
            <tr>
               <td>70</td>
               <td>65</td>
               <td>68</td>
               <td>72</td>
               <td>68</td>
            </tr>
         </tbody>
      </table>
   </section>
   <section>
   <table>
            {{range .}}
            <tr>
               <th>ID</th>
               <th>{{.}}</th>
            </tr>
            {{end}}
   </table>
   </section>
   <h1>Insufficient data to estimate next 7 days</h1>
   ...

   <h1>All good :)</h1>
   ...
</body>
</html>
