<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Dashboard - MOCKUP</title>
   <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

   <i>Dashboard mockup</i>
   <section>
       <h1>Servers with current or estimated issues</h1>
   <div>
      <!-- Example of a load table -->
      <h2>CPU Load:</h2>
      <table class="overview">
         <thead>
            <tr>
               <th>Server name</th>
               <th>Thres.</th>
               <th>Past 7d</th>
               <th>Next 24h</th>
               <th>Next 6d</th>
            </tr>
         </thead>
         <tbody>
{{range .Danger }}
             <tr>
               <td><span>{{ .Name }}</span></td>
               <td><span>{{ .Cpu.Threshold }}</span></td>
               <td><span class={{ .Cpu.Color_past_7d }}>{{ .Cpu.Max_past_7d }}</span></td>
               <td><span class={{ .Cpu.Color_next_24h }}>{{ .Cpu.Max_next_24h }}</span></td>
               <td><span class={{ .Cpu.Color_next_7d }}>{{ .Cpu.Max_next_7d }}</span></td>
            </tr>
{{end}}
         </tbody>
      </table>
   </div>
   <div>
      <!-- Example of a load table -->
      <h2>Memory Usage:</h2>
      <table class="overview">
         <thead>
            <tr>
               <th>Server name</th>
               <th>Thres.</th>
               <th>Past 7d</th>
               <th>Next 24h</th>
               <th>Next 6d</th>
            </tr>
         </thead>
         <tbody>
{{range .Danger }}
             <tr>
               <td><span>{{ .Name }}</span></td>
               <td><span>{{ .Mem.Threshold }}</span></td>
               <td><span class=high>{{ .Mem.Max_past_7d }}</span></td>
               <td><span class=high>{{ .Mem.Max_next_24h }}</span></td>
               <td><span class=warn>{{ .Mem.Max_next_7d }}</span></td>
            </tr>
{{end}}
         </tbody>
      </table>
   </div>
               </section>
   <section>
       <h1>Servers with no estimated issues</h1>
   <div>
      <!-- Example of a load table -->
      <h2>CPU Load:</h2>
      <table class="overview">
         <thead>
            <tr>
               <th>Server name</th>
               <th>Thres.</th>
               <th>Past 7d</th>
               <th>Next 24h</th>
               <th>Next 6d</th>
            </tr>
         </thead>
         <tbody>
{{range .Normal }}
             <tr>
               <td><span>{{ .Name }}</span></td>
               <td><span>{{ .Cpu.Threshold }}</span></td>
               <td><span class={{ .Cpu.Color_past_7d }}>{{ .Cpu.Max_past_7d }}</span></td>
               <td><span class={{ .Cpu.Color_next_24h }}>{{ .Cpu.Max_next_24h }}</span></td>
               <td><span class={{ .Cpu.Color_next_7d }}>{{ .Cpu.Max_next_7d }}</span></td>
            </tr>
{{end}}
         </tbody>
      </table>
   </div>
   <div>
      <!-- Example of a load table -->
      <h2>Memory Usage:</h2>
      <table class="overview">
         <thead>
            <tr>
               <th>Server name</th>
               <th>Thres.</th>
               <th>Past 7d</th>
               <th>Next 24h</th>
               <th>Next 6d</th>
            </tr>
         </thead>
         <tbody>
{{range .Normal }}
             <tr>
               <td><span>{{ .Name }}</span></td>
               <td><span>{{ .Mem.Threshold }}</span></td>
               <td><span class=high>{{ .Mem.Max_past_7d }}</span></td>
               <td><span class=high>{{ .Mem.Max_next_24h }}</span></td>
               <td><span class=warn>{{ .Mem.Max_next_7d }}</span></td>
            </tr>
{{end}}
         </tbody>
      </table>
   </div>

               </section>
...
</body>
</html>
