
{{ define "head" }}
   <title>Multi-Axis</title>
   <link rel="stylesheet" href="/static/css/nv.d3.css" type="text/css">
   <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
   <script src="http://d3js.org/d3.v3.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="/static/nv.d3.js"></script>
   <script src="/static/src/tooltip.js"></script>
   <script src="/static/src/utils.js"></script>
   <script src="/static/src/interactiveLayer.js"></script>
   <script src="/static/src/models/legend.js"></script>
   <script src="/static/src/models/axis.js"></script>
   <script src="/static/src/models/scatter.js"></script>
   <script src="/static/src/models/line.js"></script>
   <script src="/static/src/models/lineChart.js"></script>
   <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
   <script src="/static/graph.js"></script>
{{ end }}

{{ define "body" }}

   <p>
      <b data-futid="{{ . }}" id="itemhost"></b>
      <a href="cpu" class="btn">cpu load</a>
      <a href="mem" class="btn">available memory</a>
      <a href="swap" class="btn">Free swap space</a>
   </p>

   <div id="chart">
      <svg style="height:500px; width:100%"></svg>
   </div>
    <div id = "zoomWrap">
        <label for="zoomRange">Zoom range:</label>
        <input type="text" id="zoomRange" readonly>
    </div>
    
    <div id="slider"></div>   
   <code>ItemFutureId = {{ . }}</code>
     
   <div class="container-fluid">
    <div class="row">
      <form role="form" method="post" class="col-md-6">

         <div class="form-group">
            <label>Current threshold</label>
            <input type="number" step="any" id="threshold" name="threshold" class="form-control" />
         </div>

         <div class="checkbox">
            <label>
               <input type="checkbox" name="threshold_lower" id="threshold_lower" /> Lower limit
            </label>
         </div>

         <div class="form-group">
            <label>Period</label>
            <p id="period" class="form-control-static"></p>
         </div>

         <div class="form-group">
            <label>Model parameters</label>
            <textarea class="form-control" id="params"></textarea>
         </div>

         <div class="form-group">
            <label>Model details</label>
            <p class="form-control-static">
               <code id="details"></code>
            </p>
         </div>

         <input id="sendPeriod" type="submit" class="btn btn-primary" value="Update item"/>
         
      </form>
      <button id="clearPeriods" class="btn btn-default">Clear current forecast range</button>
      <form role="form" class="col-md-6">
         <div class="form-group">
            <label>Trend forecast (default is 2 weeks)</label>
            <input type="number" step="any" class="form-control" id="trendDays" value="14" />
         </div>
         <button id="trendForecast" class="btn btn-primary">Update forecast with trend</button>
      </form>
    </div>
   </div>

{{ end }}
