
{{ define "head" }}
   <title>Multi-Axis</title>
   <link rel="stylesheet" href="/static/css/nv.d3.css" type="text/css">
   <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
   <script src="http://d3js.org/d3.v3.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="/static/nv.d3.js"></script>
   <script src="/static/src/tooltip.js"></script>
   <script src="/static/src/utils.js"></script>
   <script src="/static/src/interactiveLayer.js"></script>
   <script src="/static/src/models/legend.js"></script>
   <script src="/static/src/models/axis.js"></script>
   <script src="/static/src/models/scatter.js"></script>
   <script src="/static/src/models/line.js"></script>
   <script src="/static/src/models/lineChart.js"></script>
   <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
   <script src="/static/graph.js"></script>
{{ end }}

{{ define "body" }}
   <div id="header">
      <a href="/dashboard" class="btn">« Dashboard</a>
   </div>
   <div id="subheader">
      <b data-futid="{{ . }}" id="itemhost"></b>
      <a href="cpu" class="btn">cpu load</a>
      <a href="mem" class="btn">available memory</a>
      <a href="swap" class="btn">Free swap space</a>
      <code>ItemFutureId = {{ . }}</code>
      <input id="zoomReset" class="btn btn-primary" type="submit" value="Reset zoom" style="visibility:hidden;"/>
   </div>

   <div id="chart">
      <svg style="height:500px; width:100%"></svg>
   </div>  
     
   <div class="container-fluid">
    <div class="row">
      <form role="form" action="/api/{{ . }}" method="post" class="col-md-6">

         <div class="form-group">
            <label>Current threshold</label>
            <input type="number" step="any" id="threshold" name="threshold" class="form-control" />
         </div>

         <div class="form-group">
         <div class="checkbox">
            <b>Threshold:</b>
            <label>
              <input type="radio" name="threshold_type" id="threshold_lower" value="t"/> Low
            </label>
            <label>
              <input type="radio" name="threshold_type" id="threshold_higher" value="f"/> High
            </label>  
         </div>
         </div>
         <div class="form-group">
            <label>Period</label>
            <p id="period" class="form-control-static"></p>
         </div>

         <div class="form-group">
            <label>Model parameters</label>
            <textarea class="form-control" name="params" id="params"></textarea>
         </div>

         <input id="sendPeriod" type="submit" class="btn btn-primary" value="Update item"/>
         
      </form>
      <form role="form" class="col-md-6">
         <div class="form-group">
            <label>Trend forecast (default is 2 weeks)</label>
            <input type="number" step="any" class="form-control" id="trendDays" value="14" />
         </div>
         <button id="trendForecast" class="btn btn-primary" onclick='return false'>Update forecast with trend</button>
         <button id="clearPeriods" class="btn btn-default" onclick='return false;'>Clear current forecast range</button>

         <div class="form-group" style="margin-top:1em">
            <label>Model details</label>
            <p class="form-control-static">
               <code id="details"></code>
            </p>
         </div>
      </form>
    </div>
   </div>

{{ end }}
