{{define "mem_usage"}}
<tbody>
	<tr>
		<td><span><a href="/item/{{.Name}}/mem">{{ .Name }}</a></span></td>
		<td><span>{{ .Cpu.Threshold }}</span></td>
		<td><span class={{ .Mem.Color_past_7d }}>{{ .Mem.Max_past_7d }}</span></td>
		<td><span class={{ .Mem.Color_next_24h }}>{{ .Mem.Max_next_24h }}</span></td>
		<td><span class={{ .Mem.Color_next_7d }}>{{ .Mem.Max_next_7d }}</span></td>
	</tr>
</tbody>
{{end}}