{{define "metric_table"}}
<table class="overview">
         <thead>
            <tr>
               <th>Server name</th>
               <th>Thres.</th>
               <th>Past 7d</th>
               <th>Next 24h</th>
               <th>Next 6d</th>
            </tr>
         </thead>
{{end}}